@font-face {
    font-family: 'AGP-R';
    src: url('@/assets/fonts/AGaramondPro-Regular.woff2') format('woff');
}

@font-face {
    font-family: 'AGP-RSB';
    src: url('@/assets/fonts/AGaramondPro-Semibold.woff2') format('woff');
}

span {
    color: #333;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

